<h1> Pipes Demo </h1>

<!-- 
<div>
  <h2> Without Pipes</h2>
  <h3> First Name : {{ firstName }} </h3>
  <h3> Last Name : {{ lastName }} </h3>
  <h3> Salary : {{ salary }} </h3>
  <h3> Fav Date : {{ favDate }} </h3>
</div>

<hr/>

<div>
  <h2>  Pipes</h2>
  <h3> First Name : {{ firstName | uppercase }} </h3>
  <h3> Last Name : {{ lastName | uppercase}} </h3>
  <h3> Salary : {{ salary | currency : 'EUR' : true}} </h3>
  <h3> Fav Date : {{ favDate | date : 'short'}} </h3>
  <h3> Edu : {{ educationalDetails | json}} </h3>
  <h3> Percentage : {{ educationalDetails.percentile | percent  }} </h3>
  <h3> Full Name : {{ firstName + " " + lastName | uppercase}} </h3>
 
</div> -->

<app-accounts></app-accounts>









